# This is a basic workflow to help you get started with Actions

name: On Gollum

# Controls when the workflow will run
on:
  gollum:

jobs:
  printJob:    
    name: Event gollum
    runs-on: ubuntu-latest
    steps:
    - name: Display payload
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
        echo "$GITHUB_CONTEXT"
    - name: Github Wiki notifications for Teams
      uses: sgefdf/action-teams-gollum-notification@v1.1
      env:
        # A webhook URL to a Teams channel you want notifications to be sent to.
        WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
  
